<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Gerenciamento de Tarefas</title>
<link rel="stylesheet" href="/style.css">
</head>
<body class="back">
<h1>Gerenciamento de Tarefas</h1>
<ul>
<li><a href="/tarefas">Listar Tarefas API json</a></li>
<br>
<li><a href="/listar-tarefa">Listar Tarefas</a></li>
<br>
<li><a href="/tarefas/adicionar">Adicionar Tarefa</a></li>
<br>
<li><a href="/tarefas/editar/id">Editar Tarefa</a></li>
<br>
<li><a href="/tarefas/excluir/id">Excluir Tarefa</a></li>
<br>
</ul>
</body>
</html>