<!DOCTYPE html>
<html>

<head>
    <title>Adicionar Tarefa</title>
</head>

<body>
    <h1>Adicionar Tarefa</h1>
    <!-- Formulário para adicionar uma nova tarefa -->
    <form action="/tarefas/adicionar" method="post">
        <label for="descricao">Descrição:</label>
        <!-- Campo de entrada para a descrição da tarefa -->
        <input type="text" id="descricao" name="descricao" required />
        <!-- Botão para enviar o formulário -->
        <button type="submit">Adicionar</button>
    </form>
</body>

</html>